appnope==0.1.3
asgiref==3.5.2
asttokens==2.0.5
backcall==0.2.0
black==22.3.0
blessings==1.7
blinker==1.4
bpython==0.22.1
certifi==2022.5.18.1
charset-normalizer==2.0.12
click==8.1.3
coreapi==2.3.3
coreschema==0.0.4
curtsies==0.3.10
cwcwidth==0.1.6
Cython==0.29.30
decorator==5.1.1
Django==4.0.5
django-extensions==3.1.5
djangorestframework==3.13.1
drf-yasg==1.20.0
executing==0.8.3
greenlet==1.1.2
gunicorn==20.1.0
idna==3.3
inflection==0.5.1
ipython==8.4.0
isort==5.10.1
itypes==1.2.0
jedi==0.18.1
Jinja2==3.1.2
MarkupSafe==2.1.1
matplotlib-inline==0.1.3
mypy-extensions==0.4.3
nplusone==1.0.0
packaging==21.3
parso==0.8.3
pathspec==0.9.0
pexpect==4.8.0
pickleshare==0.7.5
platformdirs==2.5.2
prompt-toolkit==3.0.29
psycopg2-binary==2.9.3
ptyprocess==0.7.0
pure-eval==0.2.2
pydantic==1.9.1
Pygments==2.12.0
pyparsing==3.0.9
pytz==2022.1
pyxdg==0.28
requests==2.28.0
ruamel.yaml==0.17.21
ruamel.yaml.clib==0.2.6
six==1.16.0
sqlparse==0.4.2
stack-data==0.2.0
tomli==2.0.1
traitlets==5.2.2.post1
typing_extensions==4.2.0
uritemplate==4.1.1
urllib3==1.26.9
wcwidth==0.2.5
